body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242424;
  color: #F6EDE6;
  text-align: center;
}


table {
  margin: auto;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: solid 2px #F6EDE6;
}

th {
  border-bottom: solid 2px #F6EDE6;
  text-align: center;
}

img {
  height: 40px;
}

td {
  text-align: left;
}